@import '../../sass_styles/colors';
@import '../../sass_styles/fonts';

.account-verification__main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .account-verification__message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
    border-top:0.5px solid rgba(0,0,0,0.08);
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
    border-radius: 20px;
    .account-verification__image-container {
      width: 70px;
      height: 70px;
      margin: 5px 20px 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h3 {
      font-family: nunito-semi-bold;

    }
  }

}
