@import '../../../sass_styles/_fonts.scss';
@import '../../../sass_styles/_colors.scss';

.option__offerprice {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: unset;
  height: unset;
  color: $dark-gray;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  gap: 20px;
  font-family: nunito-regular;
  min-height: unset;
}

.option__advice {
  .advice__description {
    font-family: nunito-light;
    span {
      font-family: nunito-bold;
      color: $pink;
    }
  }
}

.offerprice__input {
  width: 230px;
  display: flex;
  margin-top: 0px;
  height: -webkit-fill-available;
  border-radius: 8px;
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  margin-left: 8px;
  margin-right: 8px;
  opacity: 1;
}

.offerprice__low {
  width: 40px;
  height: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(176, 176, 176);
  color: rgb(113, 113, 113);
  font-family: inherit;
  outline: none;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.offerprice__low:hover{
  background-color: rgb(209, 209, 209);
}

.offerprice__low:active{
  background-color: gray;
  color: white;
}

.offerprice {
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  padding: 0px;
  margin: 12px;
  min-height: 1px;
  color: inherit;
  background-color: transparent;
  font-family: nunito-bold;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  appearance: none;
}

.offerprice__rise {
  width: 40px;
  height: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(176, 176, 176);
  color: rgb(113, 113, 113);
  font-family: inherit;
  outline: none;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.offerprice__rise:hover{
  background-color: rgb(209, 209, 209);
}

.offerprice__rise:active{
  background-color: gray;
  color: white;
}

.pernight__description {
  text-align: center;
  font-family: nunito-bold;
  margin-bottom: 0px;
}

.advice__description {
  font-family: nunito-bold;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.progress8 {
  border-top: 2px solid $pink;
  position: absolute;
  left: 0%;
  right: 10%;
  top: 0%;
}

.currency {
  margin: 0;
  text-align: center;
  font-size: .9rem;
  font-family: nunito-light;
}

@media (min-width: 1200px) {

  .offerprice__input {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .option__advice {
    .advice__description {
      font-family: nunito-light;
      span {
        font-family: nunito-bold;
        color: $pink;
      }
    }
  }
}
