@import '../../../sass_styles/fonts';
@import '../../../sass_styles/colors';

.booking__homePage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: min-content;
  margin: 30px;
  padding: 0px;
}
.booking__mainSection{
  padding-bottom: 20px;
  margin-right: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: min-content;
  color: $dark_gray;
  margin: 0px 0px 25px 0px;
}
.booking__image-container{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booking__image__image{
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  &:hover {
    opacity: .8;
  }
}
.booking__info-container{
  border: 0.5px solid rgba(0,0,0,0.08);
  box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
}
.booking__title{
  font-family: nunito-bold;
  font-size: 1.2rem;
  margin: 21px 21px 0px 21px ;
}
.booking__description{
  padding: 5px 0px;
  display: block;
  width: 85%;
  height: 35px;
  display: flex;
  font-family: nunito-light;
  font-size: .9rem;
  color: $light-gray;
  margin: 0px 21px;
  opacity: .6;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
.booking__details1{
  padding-left: 20px;
  color: $dark_gray;
  font-family: nunito-extra-bold;
}
.booking__details{
  padding-left: 20px;
  color: $dark_gray
}
.booking__price{
  font-family: nunito-extra-bold;
  margin: 10px 0px 21px 18px;
  padding-left: 5px;
  padding-top: 10px;
  span {
    font-family: nunito-extra-light;
    font-size: .9rem;
  }
}
.booking__h2{
  padding-left: 60px;
  color: $dark_gray;
}

@media (min-width: 760px) {
  .booking__mainSection{
    width: 24%;
    margin: 00px 20px;
  }
  .booking__image-container{
    width: 100%;
  }
  .booking__info-container{
    width: 100%;
  }
}
