.menu--queri-bgscreen { display: none;}
.menu__input--queri-bgscreen { display: none; }

@media (min-width: 1200px) {
  .menu--queri-bgscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0,0,0,0.08);
    border-radius: 30px;
    width: 80px;
    height: 50px;
  }

  .menu__icon {
    margin-top: 2px;
    width: 40px;
    height: 5px;
    background-color: #ff5a5f;
    border-radius: 20px;
    border: #484848;
  }

  .menu__horiLine {
    border: 0.5px solid rgba(0,0,0,0.08);
  }

 .nav-menu {
  display: inline-block;
  line-height: 60px;
  padding: 0px 12px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  line-height: 28px;
}

li ul {
  display: list-item;
  visibility: hidden;
}
}
