.menu--queri-bgscreen { display: none;}
.menu__input--queri-bgscreen { display: none; }

@media (min-width: 1200px) {
  .menu--queri-bgscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.5px solid rgba(0,0,0,0.08);
    border-radius: 30px;
    width: 60px;
    height: 40px;
  }

  .menu__icon-container {
    position: absolute;
    bottom: 10.5px;
    right: 18px;
  }

  .menu__icon {
    margin-top: 4px;
    width: 25px;
    height: 4px;
    background-color: #ff5a5f;
    border-radius: 20px;
    border: #484848;
  }

  ul.nav-menu li {
    list-style-type: none;
    margin: 10px;
    transition: all .3s ease 0s;
    a:hover {
      color: #ff5a5f;
      font-weight: bolder;
    }
  }

  .menu__line {
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border: 0.5px solid rgba(0,0,0,0.08);
    margin: 0px 5px
  }

  .menu--queri-bgscreen{
    &:hover {
      .menu__item {
        position: absolute;
        right: 20px;
        top: 40px;
        display: initial;
        background-color: white;
        border: 0.5px solid rgba(0,0,0,0.08);
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        width: 100px;
        margin: 0px;
        padding: 0px;
        border-radius: 10px;
      }
    }
  }

  .menu__item {
    display: none;
  }
}
