.searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  height: 65px;
}

.searcher__input {
  display: flex;
  align-items: center;
  position: relative;
  color: #717171;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  width: 330px;
  height: 52px;
  border: 0.5px solid rgba(0,0,0,0.08);
  box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
  border-radius: 30px;
  background-color: white;
  div.text-conatiner {
    opacity: .5;
    margin: 0px 20px;
    div.text1 {
      color: black;
      opacity: 1;
    }
  }
}

.searcher__icon {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 10px;
  margin: 0px 20px;
}

@media (min-width: 1200px) {
  .searcher--queri-bgscreen {
    width: 500px;
    margin-left: 100px;
    margin-right: 250px;
  }

  .searcher__input--queri-bgscreen {
    width: 670px;
  }
}
