@import '../../sass_styles/_colors.scss';
@import '../../sass_styles/_fonts.scss';

.searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.searcher__input {
  padding: 0px;
  display: flex;
  align-items: center;
  position: relative;
  color: #717171;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  width: 330px;
  height: 52px;
  border: 0.5px solid rgba(0,0,0,0.08);
  box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
  border-radius: 30px;
  background-color: white;
  div.text-conatiner {
    opacity: .5;
    margin: 0px 20px;
    font-family: nunito-extra-light;
    div.text1 {
      color: black;
      font-family: nunito-extra-bold;
      font-size: .9rem;
    }
    div.text2 {
      font-size: .8rem;
    }
  }
}

.searcher__icon {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 10px;
  margin: 0px 20px;
}

.searcher__input-container{
  position: absolute;
  top: 2px;
  width: 80%;
  height: 90%;
  margin: 0px;
  .searcher__input--true {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    font-family: nunito-regular;
    font-size: 17px;
  }
  .searcher__input--false {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 40px;
  }
}

@media (min-width: 1200px) {
  .searcher--queri-bgscreen {
    width: 45%;
    height: 60px;
    .searcher__input--queri-bgscreen {
      width: 100%;
      height: 100%;
      position: relative;
      align-content: center;
      padding: 0px;
    }
    .searcher__input-container{
      position: absolute;
      top: 2px;
      width: 90%;
      height: 90%;
      margin: 0px;
      .searcher__input--true {
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        font-family: nunito-regular;
        font-size: 17px;
      }
      .searcher__input--false {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 40px;
      }
    }
  }
}
