@import '../../../sass_styles/_colors.scss';
@import '../../../sass_styles/_fonts.scss';

.single_card_container {
  width: 280px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 1px 5px gray;
  margin-bottom: 40px;
}

.cardAdmin_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100.1%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.title_card {
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  height: 60px;
  font-size: 20px;
}

.buttonAdmin_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;

}


.buttonAdmin_edit{
  font-size: 16px;
  color: white;
  font-style: nunito-regular;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 0.5px transparent;
  background-color: $pink;
  cursor:pointer;
}

.buttonAdmin_edit:hover{
  transition: 0.4s;
  background-color: white;
  color: black;
  border: solid 0.5px gray;
}

.buttonAdmin_edit:active{
  background-color: gray;
}


.buttonAdmin_delete{
  font-size: 16px;
  color: white;
  font-style: nunito-regular;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: solid 0.5px transparent;
  background-color: $pink;
  cursor:pointer;
}

.buttonAdmin_delete:hover{
  transition: 0.4s;
  background-color: white;
  color: black;
  border: solid 0.5px gray;
}

.buttonAdmin_delete:active{
  background-color: gray;
}
