@import '../../../sass_styles/_fonts.scss';
@import '../../../sass_styles/_colors.scss';

.form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 24px 0px;
  font-family: nunito-extra-light;
  width: -webkit-fill-available;
  position: fixed;
  top: 0px;
  background-color: transparent;
  z-index: 3;
}

.header__logo {
  margin: 20px 20px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.logo__img {
  width: 28px;
  height: 28px;
}

.header__help-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  gap: 15px;

}

.header__save{
  color: $white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  border-radius: 40px;
  background: none;
  font-family: nunito-light;
  font-size: 14px;
  cursor: pointer;
}

.header__save:hover{
  transition: 0.2s;
  color: $white;
  background-color: $light-gray;
  box-shadow: 0px 0px 1px $light-gray;
  font-family: nunito-regular;
}

.header__help {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  border-radius: 40px;
  background: none;
  font-family: nunito-light;
  font-size: 14px;
  cursor: pointer;
}

.header__help:hover{
  transition: 0.2s;
  color: $white;
  background-color: $light-gray;
  box-shadow: 0px 0px 1px $light-gray;
  font-family: nunito-regular;
}

.container__question {
  background-image: linear-gradient(to right,#3B07BB 0%, #92174D 60%,#E31C5F 100%);
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 30px 70px 20px 24px;
  height: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  width: -webkit-fill-avaliable;
  right: 0;
  left: 0;
}

.question__title {
  font-family: nunito-bold;
  font-size: 26px;
  padding: 0%;
}

.container__options-fixed{
  position: fixed;
  z-index: 2;
  bottom: 90px;
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  border-radius: 10px;
}

.container__options-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 32px 24px 0px 24px;
  border: 1px solid white;
  background-color: white;
  margin: 0px 0px 0px 0;
}

.option__card0 {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  min-height: 68px;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
}

.option__card0:hover{
  transition: 0.18s;
  color: $pink;
}

.option__card0:focus {
  border: 1.5px solid $pink;
  color: $pink;
  font-family: nunito-bold;
  transition-duration: 0.15s;
}

.option__card-title0 {
  left: 10px;
  font-family: nunito-extra-light;
  font-size: 16px;
}

.option__card-image0 {
  width: 40px;
  height: 40px;
}

.container__button-step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  padding: 16px 0px;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0px 0px 1px gray;
}

.progress{
  border-top: 2px solid black;
  position: absolute;
  left: 0%;
  right: 90.0%;
  top: 0%;
}

.button__backhome{
  font-size: 16px;
  color: white;
  font-style: nunito-regular;
  padding: 14px 24px;
  margin-left: 24px;
  border-radius: 10px;
  border: none;
  background-color: $dark-gray;
  cursor:pointer;
}

.button__backhome:hover{
  transition: 0.4s;
  background-color: white;
  color: $pink;
  border: solid 0.5px gray;
}

.button__nextstep {
  font-size: 16px;
  color: white;
  font-style: nunito-regular;
  padding: 14px 24px;
  margin-right: 24px;
  border-radius: 10px;
  border: none;
  background-color: $dark-gray;
  cursor: pointer;
}

.button__nextstep:hover{
  transition: 0.4s;
  background-color: white;
  color: $pink;
  border: solid 0.5px gray;
}

@media (min-width: 1200px) {

  .form__header {
    width: -webkit-fill-available;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .header__logo {
    justify-content: flex-start;
    width: -webkit-fill-available;
    justify-content: flex-start;
    padding: 0px 0px 0px 0px;
  }

  .logo__img {
    height: 30px;
    width: 27px;
  }

  .header__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    padding: 15px 0px 0px 30px;
  }

  .logo__img {
    height: 30px;
    width: 27px;
  }

  .header__help-container{
    padding-top: 4px;
    padding-right: 20px;
  }
  .header__save{
    color: black;
    border: solid 1px gray;
  }

  .header__help{
    color: black;
    border: solid 1px gray
  }

  .container__question {
    background-image: linear-gradient(to top,#3B07BB 0%, #92174D 60%,#E31C5F 100%);
    width: 50%;
    position: fixed;
    left: 0;
    height: 100%;
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }

  .question__title {
    line-height: 56px;
    font-size: 48px;
    padding: 0px 40px 0px 54px;
  }

  .container__options-fixed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2;
    right: 0;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    bottom: 0px;
  }

  .container__options-scroll{
    padding: 0px 48px 0px 48px;
  }

  .container__options {
    margin: 0px;
    width: -webkit-fill-available;
    margin-right: 10px;
  }

  .option__card-title0 {
    font-size: 18px;
  }

  .container__button-step{
    z-index: 3;
    right: 0;
    width: 50%;
  }
}
