@import '../../../sass_styles/_colors.scss';
@import '../../../sass_styles/_fonts.scss';

.hostHeader__main-container {
  color: $dark-gray;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 0.5px solid rgba(0,0,0,0.08);
  box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
  .hostHeader__image-container{
    width: 125px;
    height: 100%;
    margin-left: 100px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .hostHeader__menu-container {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    .hostHeader__menu__item {
      border: 0.5px solid rgba(0,0,0,0.08);
      border-radius: 25px;
      padding: 13px 20px;
      font-family: nunito-regular;
      &:hover {
        box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
        font-family: nunito-bold;
        color: $pink;
        cursor: pointer;
      }
    }
    .hostHeader__menu__button {
      border: 0.5px solid rgba(0,0,0,0.08);
      border-radius: 25px;
      button {
        width:98.11px;
        height: 49.4px;
        border: none;
        border-radius: 25px;
        background-color: transparent;
        font-family: nunito-regular;
        color: $dark-gray;
        font-size: 1rem;
        padding: 0px;
        &:hover {
          box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
          font-family: nunito-bold;
          color: $pink;
          cursor: pointer;
        }
      }
    }
  }
}
