@import '../../../sass_styles/_fonts.scss';
@import '../../../sass_styles/_colors.scss';

.container__question1 {
  background-image: linear-gradient(to right,#3B07BB 0%, #92174D 60%,#E31C5F 100%);
  color: white;
  font-family: nunito-bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 30px 24px 20px 24px;
  height: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  width: -webkit-fill-avaliable;
  right: 0;
  left: 0;
}

.container__options-fixed1{
  position: fixed;
  z-index: 2;
  bottom: 90px;
  width: 100%;
  height: 40%;
  overflow-y: scroll;
  border-radius: 10px;

}

.container__options-scroll1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 32px 24px 0px 24px;
  border: 1px solid white;
  background-color: white;
  margin: 0px 0px 0px 0px;
}

.option {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  min-height: 68px;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  color: black;
  font-family: nunito-regular;
  font-size: 16px;
}

.option:hover{
  transition: 0.18s;
  background-color: rgb(234, 234, 234);
}

.option:focus {
  border: 1.5px solid $pink;
  color: $pink;
  transition-duration: 0.15s;
  font-family: nunito-regular;
}

.progress1{
  border-top: 2px solid black;
  position: absolute;
  left: 0%;
  right: 80%;
  top: 0%;
}

.button__backstep{
  font-size: 16px;
  color: white;
  font-style: nunito-regular;
  padding: 14px 24px;
  margin-left: 24px;
  border-radius: 10px;
  border: none;
  background-color: $dark-gray;
  cursor:pointer;
}

.button__backstep:hover{
  transition: 0.4s;
  background-color: white;
  color: $pink;
  border: solid 0.5px gray;
}

@media (min-width: 1200px) {

  .container__question1 {
    background-image: linear-gradient(to top,#3B07BB 0%, #92174D 60%,#E31C5F 100%);
    width: 50%;
    position: fixed;
    left: 0;
    height: 100%;
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }

  .container__options-fixed1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2;
    right: 0;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    bottom: 0px;
  }

  .container__options-scroll1{
    padding: 0px 48px 0px 48px;
  }

  .option {
    font-size: 18px;
  }

  .option:hover{
    font-size: 18px;
  }

  .option:focus {
    font-size: 18px;
  }

}
