@font-face {
  font-family: nunito-bold;
  src: url(./fonts/NunitoSans-Bold.ttf);
}

@font-face {
  font-family: nunito-semi-bold;
  src: url(./fonts/NunitoSans-SemiBold.ttf);
}

@font-face {
  font-family: nunito-bold-italic;
  src: url(./fonts/NunitoSans-BoldItalic.ttf);
}

@font-face {
  font-family: nunito-extra-bold;
  src: url(./fonts/NunitoSans-ExtraBold.ttf);
}

@font-face {
  font-family: nunito-light;
  src: url(./fonts/NunitoSans-Light.ttf);
}

@font-face {
  font-family: nunito-light-italic;
  src: url(./fonts/NunitoSans-LightItalic.ttf);
}

@font-face {
  font-family: nunito-extra-light;
  src: url(./fonts/NunitoSans-ExtraLight.ttf);
}

@font-face {
  font-family: nunito-italic;
  src: url(./fonts/NunitoSans-Italic.ttf);
}

@font-face {
  font-family: nunito-regular;
  src: url(./fonts/NunitoSans-Regular.ttf);
}
