@import '../../sass_styles/_colors.scss';
@import '../../sass_styles/_fonts.scss';

.admin_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 13px 20px;
  top: 0px;
  width: -webkit-fill-avaliable;
  box-shadow: 0px 1px 15px gray;

}

.admin_logo_container {
  width: 28px;
  height: 28px;
}

.admin_logo {
  width: 28px;
  height: 28px;
}

.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: -webkit-fill-avaliable;
}

.greeting {
  font-size: 15px;
}

.admin_pic_container {
  padding: 3px 5px 10px 5px;
  width: 28px;
  height: 28px;

}

.admin_pic {
  border-radius: 50px;
  width: 28px;
  height: 28px;
}


.cardAdmin_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-avaliable;
  justify-content: space-between;
  flex-wrap: wrap;
  height: min-content;
  margin: 0px;
  padding: 30px 30px 30px 50px;
}
