html {
    font: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
  }
  
  .form__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #008489;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
    width: -webkit-fill-available;
  }
  
  .header__logo {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
  .logo__img {
    width: 40px;
    height: 40px;
  }
  
  .header__buttons {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: flex-end;
  }
  
  .button {
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border: none;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Manrope', sans-serif;
  }
  
  .button:focus {
    border: solid;
    border-color: white;
    transition-duration: 0.25s;
    font-family: 'Manrope', sans-serif;
  }

  @media(min-width:1200px) {
    html {
        background: #FFFFFF;
    }
    .form__header {
        width: -webkit-fill-available;
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .header__logo {
        justify-content: flex-start;
        width: -webkit-fill-available;
        ;
        justify-content: flex-start;
        padding: 0px 40px 0px 0px;
    }
    .logo__img {
        height: 100px;
        width: 100px
    }
    .header__buttons {
        width: -webkit-fill-available;
        padding: 0px 20px 0px 0px;
        border-radius: 5px;
        justify-content: flex-end;
    }
    .button {
        font-size: 16px;
        font-weight: bold;
}
}