@import '../../sass_styles/_colors.scss';
@import '../../sass_styles/_fonts.scss';

.host__space-link {
  text-decoration: none;
  color: $dark-gray;
}

.card__delete__button {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 10;
  border-radius: 50%;
  border: 1px solid $dark-gray;
  background-color: transparent;
  color: $dark-gray;
  padding: 7px 10px;
  font-family: nunito-bold;
  &:hover {
    color: $pink;
    border: 1px solid $pink;
    font-family: nunito-bold;
    cursor: pointer;
  }
}

.host-home__main-containenr {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 100%;
  margin-bottom: 35px;
  .card__title-container {
    width: 100%;
    display: flex;
    height: min-content;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px 0px 0px;
    h1 {
      font-family: nunito-extra-bold;
      color: $dark-gray;
      margin-left: 100px;
    }
  }
}

.host__mainSection {
  padding: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: min-content;
  color: $dark-gray;
  .card__image-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      position: relative;
      margin-top: 15px;
      width: 90%;
      height: 100%;
      border: 0.5px solid rgba(0,0,0,0.08);
      box-shadow: 0px -2px 7px 0px rgb(0 0 0 / 10%);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom: none;
      .card__image__image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  .info-container {
    border: 0.5px solid rgba(0,0,0,0.08);
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 90%;
    .card__title {
      font-family: nunito-bold;
      font-size: 1rem;
      margin: 21px 21px 0px 21px ;
    }
    .card__description {
      padding: 5px 0px;
      display: block;
      width: 85%;
      height: 50px;
      display: flex;
      font-family: nunito-light;
      font-size: .8rem;
      color: $light-gray;
      margin: 0px 21px;
      opacity: .6;
      text-overflow: ellipsis;
      overflow-y: hidden;
    }
    .card__price {
      font-family: nunito-extra-bold;
      margin: 10px 0px 21px 18px;
      span {
        font-family: nunito-extra-light;
        font-size: .9rem;
      }
    }
  }
}

@media (min-width: 760px) {
  .host__mainSection {
    width: 24%;
    margin: 0px 0px 35px 10px;
    .card__image-container {
      width: 100%;
    }
    .info-container {
      width: 90%;
    }
  }
}
