@import '../../sass_styles/_colors.scss';
@import '../../sass_styles/_fonts.scss';

.space-link {
  text-decoration: none;
  color: $dark_gray;
}

.mainSection {
  padding: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: min-content;
  color: $dark_gray;
  margin: 0px 0px 25px 0px;
  .card__image-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      margin-top: 15px;
      width: 90%;
      height: 100%;
      border: 0.5px solid rgba(0,0,0,0.08);
      box-shadow: 0px -2px 7px 0px rgb(0 0 0 / 10%);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom: none;
      .card__image__image {
        width: 100%;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
      }
    }
  }
  .info-container {
    border: 0.5px solid rgba(0,0,0,0.08);
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 90%;
    .card__title {
      font-family: nunito-bold;
      font-size: 1rem;
      margin: 21px 21px 0px 21px ;
    }
    .card__description {
      padding: 5px 0px;
      display: block;
      width: 85%;
      height: 50px;
      display: flex;
      font-family: nunito-light;
      font-size: .8rem;
      color: $light-gray;
      margin: 0px 21px;
      opacity: .6;
      text-overflow: ellipsis;
      overflow-y: hidden;
    }
    .card__price {
      font-family: nunito-extra-bold;
      margin: 10px 0px 21px 18px;
      span {
        font-family: nunito-extra-light;
        font-size: .9rem;
      }
    }
  }
}

@media (min-width: 760px) {
  .mainSection {
    width: 24%;
    margin: 20px 5px;
    .card__image-container {
      width: 100%;
      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
    .info-container {
      width: 90%;
    }
  }
}
