<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesInicioSesion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <title>Formulario Inicio de Sesión</title>
</head>
<body>
    <section>
        <div class="inicioSesion__container">
            <div class="inicioSesion";>                
                <header class="inicioSesion_headerbox"> 
                        <h1>Iniciar Sesión</h1>                                   
                </header>                
                <form action="" class="inicioSesion__form">  
                    <p class="inicioSesion__Bienvenida">Te damos la bienvenida a Airbnb</p>     
                    <input class="inicioSesion__textbox" type="email" name="email" placeholder="Correo electrónico"/>
                    <input class="inicioSesion__textbox" type="password" name="password" placeholder="Contraseña">
                    <button class ="inicioSesion__btn__continuar"><b>Continúa</b></button>
                    <div class="inicioSesion__divisor">
                     <p>o</p>   
                    </div> 
                    <button class ="inicioSesion__btn__Registrarme"><b>Registrarme</b></button>
                </form>
            </div>
        </div>
</body>
</html>