<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesRegistro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <title>Formulario Registro</title>
</head>
<body>
    <section>
        <div class="registro__container">
            <div class="registro";>
                <div class="registro_headerbox">
                <header class="registro__header"> 
                    <div class="registro__text">
                        <h1>
                            <div class="registro_text2">Registrarme</div>
                        </h1>
                    </div>                  
                </header>
                
                </div>
                <div class="registro__form">            
                    <div class="registro__namebox">                                  
                    <input class="registro__textbox" type="text" name="nombres" placeholder="Nombre"/>
                    </div>
                    <div class="registro__lastnamebox"> 
                    <input class="registro__textbox" type="text" name="apellido" placeholder="Apellidos"/>                   
                    </div>
                    <div class="registro__helptext">
                    <p>Asegúrate de que coicide con el nombre que aparece en tu idenficación oficial.</p>
                    </div>
                    <div class="registro__inputbox">
                    <input class="registro__textbox" type="text" name="fechanacim" placeholder="Fecha de nacimiento"/>
                    </div>
                    
                    <p class="registro__helptext">Para poder registrarte debes tener al menos 18 años. No compartiremos la fecha de tu nacimiento con otros usuarios de Airbnb</p>
                    <div class="registro__inputbox">
                    <input class="registro__textbox" type="text" name="correoelectronico" placeholder="Correo electrónico">
                    </div>
                    <p class="registro__helptext">Te enviaremos las confirmaciones de viaje y los recibos por correo electrónico</p>
                    <div class="registro__inputbox">
                    <input class="registro__textbox" type="text" name="password" placeholder="Contraseña">
                    </div>
                    <button class ="registro__btn"><b>Aceptar y continuar</b></button>
                
                </div>
            </div>
        </div>
    </section>
</body>
</html>