.header {
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
}

.searcher {
    display: flex;
    height: 65px;
    /* border: 2px solid red; */
    margin-bottom: 7px;
    justify-content: centers;
    align-items: center;
}

.horiLine {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 10%);
    border: 0.5px solid rgba(0,0,0,0.08)
}


.searcher__input {
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    color: #717171;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2em;
    padding-right: 30px;
    padding-bottom: 4px;
    text-align: right;
    border: 0.5px solid rgba(0,0,0,0.08) ;
    border-radius: 30px;
    width: 330px;
    height: 52px;
    background-color: white;
}

.container-image {
    position: absolute;
}

.container-image__image {
    margin-left: 20px;
    width: 25px;
    height: 30px;
}


.menu-container--queri-bgscreen { display: none; }
.container-logo { display: none; }

@media (min-width: 1128px) {
    .header--bgscreen {
        justify-content: space-around;
    }

    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container-logo__logo {
        width: 40px;
        height: 40px;
        color: #ff5c28;
    }

    .container-logo__text {
        font-size: 25px;
        padding-left: 8px;
        color: #ff5c28
    }

    .searcher--queri-bgscreen {
        width: 670px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .searcher__input--queri-bgscreen {
        width: 670px;
    }

    .menu--queri-bgscreen {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu__input--queri-bgscreen {
        width: 100px;
        height: 52px;
        border: 0.5px solid rgba(0,0,0,0.08) ;
        border-radius: 30px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        align-items: center;
    }

    .menu__input__value__text {
        font-size: 17px;
        padding: 10px;
    }
}
