<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./headerStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <title>Header</title>
</head>
<body>
    <header class="searcher">
        <form >
          <button class="searcher__input"
          type="submit">
          <div class="container-image">
            <img class="container-image__image"
            src="/Airbnbn-Clone/fotos/image.png"
            alt="search-icon">
          </div>
            <b>¿A dónde quieres ir?</b>
          </button>
        </form>
      </header>
    <hr class="horiLine">
</body>
</html>