.searcher {
    font-family: 'Manrope', sans-serif;
    display: flex;
    height: 65px;
    border: 2px solid red;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
}



/* .filter {
    height: 50px;
    border: 2px solid red;
    margin-bottom: 7px;
    padding: 14px 24px 0px 24px;
} */

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222222;
    font-family: 'Manrope', sans-serif;
    font-size: 0.85em;
    /* border: 1px solid red; */
    margin-top: 30px;
}


.mainSection__card {
    margin-bottom: 15px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* border: 2px solid red; */
    letter-spacing: 0.8px;
}

.card__image-container {
    height: 350px;
    margin-bottom: 12px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
   
}

.card__price {
    margin-top: 6px;
}