.searcher {
    display: flex;
    height: 65px;
    border: 2px solid red;
    margin-bottom: 7px;
    justify-content: centers;
    align-items: center;
}

/* .filter {
    height: 50px;
    border: 2px solid red;
    margin-bottom: 7px;
    padding: 14px 24px 0px 24px;
} */

.mainSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #222222;
    font-family: 'Manrope', sans-serif;
    font-size: 0.85em;
    /* border: 1px solid red; */
    margin-top: 30px;
}


.mainSection__card {
    margin-bottom: 15px;
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 460px;
    border: 2px solid rgb(98, 0, 255);
    letter-spacing: 0.8px;
}

.card__image-container {
    height: 350px;
    margin-bottom: 12px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
   
}

.card__location { margin-bottom: 4px; margin-top: 5px; }
.card__distance { margin-bottom: 4px; }
.card__dates { margin-bottom: 4px; }
.card__price { margin-top: 5px; }

@media (min-width: 1128px) {
    .mainSection--queri-bgscreen {
        justify-content: space-around;
        padding-left: 50px;
        padding-right: 50px;
    }

    .mainSection__card--queri-bgscreen {
        width: 20vw;
    }
}