<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./homeStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <title>Main Section</title>
</head>
<body>
    <div class="searcher">
        <div class="om"></div>
    </div>
    <div class="mainSection">
      <div class="mainSection__card">
        <img class="card__image" src="/Fotod/1/d0d9f05c-428b-4f50-91f9-9fc673e9ca16.jpg" alt="Picture1">
        <div class="card__location"><b>Envigado, Colombia</b></div>
        <div class="card__distance">235 kilómetros de distancia</div>
        <div class="card__dates">8 - 14 de jul</div>
        <div class="card__price"><b>$461,570 COP</b> / night</div>
      </div>
      <div class="mainSection__card">
        <img class="card__image" src="/Fotod/1/d0d9f05c-428b-4f50-91f9-9fc673e9ca16.jpg" alt="Picture1">
        <div class="card__location"><b>Envigado, Colombia</b></div>
        <div class="card__distance">235 kilómetros de distancia</div>
        <div class="card__dates">8 - 14 de jul</div>
        <div class="card__price"><b>$461,570 COP</b> / night</div>
      </div>
    </div>
</body>
</html>