<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host place register page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="hostPlaceRegisterStyles.css">
</head>

<body>
    <div class="form__header">
        <div class="header__logo">
            <img class="logo__img" src="airbnbLogo.png">
        </div>
        <div class="header__buttons">
            <button class="button">
                Preguntale a un Superanfitrion            
            </button>
            <button class="button">
                Ayuda            
            </button>
        </div>
    </div>


    <div class="form__container">
        <div class="container__question">
            <h1 class="question__title">
                ¿En que tipo de espacio brindarás servicios de anfitrión?
            </h1>
        </div>
        <div class="container__options">
            <button class="option__card0">
                <h2 class="option__card-title0">
                    Apartamentos
                </h2>
                <img class="option__card-image0" src="el-hostal-bed-and-breakfast.jpg">
            </button>
            <button class="option__card0">
                <h2 class="option__card-title0">
                    Casa
                </h2>
                <img class="option__card-image0" src="el-hostal-bed-and-breakfast.jpg">
            </button>
            <button class="option__card0">
                <h2 class="option__card-title0">
                    Vivienda anexa
                </h2>
                <img class="option__card-image0" src="el-hostal-bed-and-breakfast.jpg">
            </button>
            <button class="option__card0">
                <h2 class="option__card-title0">
                    Alojamiento único
                </h2>
                <img class="option__card-image0" src="el-hostal-bed-and-breakfast.jpg">
            </button>
            <button class="option__card0">
                <h2 class="option__card-title0">
                    Bed and breakfasts
                </h2>
                <img class="option__card-image0" src="el-hostal-bed-and-breakfast.jpg">
            </button>
            <button class="option__card0">
                <h2 class="option__card-title0">
                    Hotel boutique
                </h2>
                <img class="option__card-image0" src="el-hostal-bed-and-breakfast.jpg">
            </button>
        </div>
    </div>

    <div class="form__container">
        <div class="container__question">
            <h1 class="question__title">
                ¿Cual de estas opciones describe mejor tu espacio?
            </h1>
        </div>
        <div class="container__options">
            <button class="option__card1">
                <h2 class="option__card-title1">
                    Hotel
                </h2>
                <p class="option__card-description1">
                    Negocio que ofrece habitaciones privadas, suites o alojamientos únicos.
                </p>
            </button>
            <button class="option__card1">
                <h2 class="option__card-title1">
                    Hostal
                </h2>
                <p class="option__card-description1">
                    Empresa de la industria hotelera en la que los huéspedes normalmente pueden reservar una habitacion privada o una cama en un dormitorio compartido.
                </p>
            </button>
            <button class="option__card1">
                <h2 class="option__card-title1">
                    Complejo turistico
                </h2>
                <p class="option__card-description1">
                    Una empresa de la industria hotelera con mas servicios y comodidades que un hotel.
                </p>
            </button>
            <button class="option__card1">
                <h2 class="option__card-title1">
                    Cabaña en la naturaleza
                </h2>
                <p class="option__card-description1">
                    Negocio que ofrece estadias en alojamientso con entornos naturales, como bosques o montañas.
                </p>
            </button>
            <button class="option__card1 ">
                <h2 class="option__card-title1 ">
                    Hotel boutique
                </h2>
                <p class="option__card-description1 ">
                    Empresa de la industria hotelera con un estilo único o una temática que define su identidad.
                </p>
            </button>
            <button class="option__card1">
                <h2 class="option__card-title1">
                    Apartahotel
                </h2>
                <p class="option__card-description1 ">
                    Espacio similar a un apartamento que cuenta con las comdidades de un hotel.
                </p>
            </button>
            <button class="option__card1 ">
                <h2 class="option__card-title1 ">
                    Apartamento con servicios incluidos
                </h2>
                <p class="option__card-description1 ">
                    Apartamento con las comodidades habituales de un hotel, atendido por una empresa de administración profesional.
                </p>
            </button>
            <button class="option__card1 ">
                <h2 class="option__card-title1 ">
                    Hotel patrimonio
                </h2>
                <p class="option__card-description1 ">
                    Esdifício histórico convertido en alojamiento para huéspedes en la india.
                </p>
            </button>
            <button class="option__card1 ">
                <h2 class="option__card-title1 ">
                    Kezhan
                </h2>
                <p class="option__card-description1 ">
                    Un espacio con personalidad local y comodidades sofisticadas en China.
                </p>
            </button>
        </div>
    </div>

    <div class="form__container ">
        <div class="container__question ">
            <h1 class="question__title ">
                ¿De qué tipo de espacio dispondrán los huéspedes?
            </h1>
        </div>
        <div class="container__options">
            <button class="option">Un alojamiento entero</button>
            <button class="option">Una habitación privada</button>
            <button class="option">Una habitación compartida</button>
        </div>
    </div>

    <div class="form__container">
        <div class="container__question">
            <h2 class="question__title">Confirma tu dirección</h2>
        </div>
        <form class="container__formtable">
            <input class="form__text1" placeholder="Calle " type="text "></input>
            <input class="form__text" placeholder="Departamento,puerta,etc.(Opcional) " type="text "></input>
            <input class="form__text" placeholder="Departamento/Estado/Provincia/Region " type="text "></input>
            <input class="form__text" placeholder="Codigo postal(opcional) " type="text "></input>
            <select class="form__countries">
                <option class="country">País</option>
                <option class="country">Colombia</option>
                <option class="country">Ecuador</option>
                <option class="country">Chile</option>
            </select>
        </form>
    </div>

</body>

</html>