$pink-color: #ff5a5f;
$white-color: #ffffff;
$light-gray: #858282;


.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  font-family: 'Manrope', sans-serif;
  border-top: .05px solid rgba(0,0,0,0.08);

}


.footer__call-to-action {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  width: 150px;
  height: 50px;
  background-color: #ff5a5f;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  border: none;
}

.footer__call-to-action:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}
a {
  text-decoration: none;
}

.footer__left-container, .footer__right-container{
  display: none;
}

@media (min-width: 1200px) {
  .footer__call-to-action-conatiner {
    display: none;
  }

  .footer {
    height: 45px;
    position: relative;
    bottom: 0px;
    background-color: #f8f2f2;
    max-width: 100%;
  }

  .footer__bg-screen-container {
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    letter-spacing: 1.2px;
  }

  .footer__left-container {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin: 0px 50px;
    width: 400px;
  }

  .footer__right-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50px;
    width: 250px;
  }

  div.footer__right-container div a{
    text-decoration: none;
    color: $light-gray;
    transition: all 0.3s ease 0s;
  }

  div.footer__right-container div a:hover {
    color: $pink-color;
    font-weight: bolder;
  }

  div.footer__left-container div a{
    text-decoration: none;
    color: $light-gray;
    transition: all 0.3s ease 0s;
  }

  div.footer__left-container div a:hover {
    color: $pink-color;
    font-weight: bolder;
  }
}
