.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  font-family: 'Manrope', sans-serif;
  border-top: 1px solid rgba(0,0,0,0.08);
}


.footer__call-to-action {
  font-size: 16px;
  color: #ffffff;
  display: flex;
  width: 150px;
  height: 50px;
  background-color: #ff5a5f;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  border: none;
}

.footer__call-to-action:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}

.footer__buttons--bg-screen {
  display: none;
}

@media (min-width: 1200px) {
  .footer__call-to-action-conatiner {
    display: none;

  }

  .footer {
    position: relative;
    height: 50px;
    background-color: #fff9f9c3;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.08);
  }

  .footer__buttons--bg-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 90%;
    color: #858282;
  }

  a {
    text-decoration: none;
    color: #858282;
  }

  a:hover {
    color: #ff5a5f;
  }

  .log-in-button--bg-screen {
    margin-left: 960px;
  }
}
