@import '../../../sass_styles/_fonts.scss';

.form__header4 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 5px 24px 0px;
  font-family: "Manrope", sans-serif;
  width: -webkit-fill-available;
  position: fixed;
  top: 0px;
  background-color: transparent;
  z-index: 3;
}

.header__help-container4{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  gap: 15px;
}

.container__question4 {
  background-image: linear-gradient(to right,#3B07BB 0%, #92174D 60%,#E31C5F 100%);
  color: white;
  font-family: nunito-bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 30px 24px 20px 24px;
  height: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  width: -webkit-fill-avaliable;
  right: 0;
  left: 0;
}

.container__options-fixed4{
  position: fixed;
  z-index: 2;
  bottom: 90px;
  width: 100%;
  height: 55%;
  overflow-y: scroll;
  border-radius: 10px;
}

.container__options-scroll4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 32px 24px 0px 24px;
  border: 1px solid white;
  background-color: white;
  margin: 0px 0px 0px 0px;
}

.question__addtitle {
  font-family: nunito-semi-bold;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 6px;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: keyframe_14ic1xm;
}

.add_included-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option__card3 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  margin: 0px 6px 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 150px;
  height: 120px;
}

.option__card3--focus {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 150px;
  height: 120px;
  border: 1px solid transparent;
  margin: 0px 6px 12px;
  box-shadow: rgb(0 0 0) 0px 0px 0px 2px;
  background-color: rgb(247, 247, 247);

}

.adition-icon {
  display: fixed;
  z-index: 1;
  height: 40px;
  width: 40px;
}

.option__card-title3 {
  font-family: nunito-light;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  text-align: center;
  margin: 0px 20px;
}



.progress4 {
  border-top: 2px solid black;
  position: absolute;
  left: 0%;
  right: 50%;
  top: 0%;
}

.button__backstep {
  font-size: 16px;
  color: white;
  font-style: 'Manrope", "sans-serif';
  padding: 14px 24px;
  margin-left: 24px;
  border-radius: 10px;
  border: none;
  background-color: #222222;
}

@media (min-width: 1200px) {
  .form__header4 {
    width: -webkit-fill-available;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .header__help-container4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    background-color: white;
    margin-top: -25px;
    padding-top: 40px;
    margin-right:-24px;
    padding-right: 44px;
    margin-bottom: -10px;
    padding-bottom: 20px;
    margin-left: -26px;
    width: 50%;
    box-shadow:1.5px 0px 2px gray;
  }

  .container__question4 {
    background-image: linear-gradient(to top,#3B07BB 0%, #92174D 60%,#E31C5F 100%);
    width: 50%;
    position: fixed;
    left: 0;
    height: 100%;
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }

  .container__options-fixed4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2;
    right: 0;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    bottom: 0px;
  }

  .container__options-scroll4{
    margin-top: 1650px;
    padding: 0px 48px 90px 48px;
  }

  .add_included-options{
    display: flex;
    flex-direction: row;
    flex-basis: 33.333333;
    padding-bottom: 30px;
  }

  .option__card3 {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 130px;
  }

  .option__card3:focus {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .add_included-options {
    display: flex;
    flex-flow: row wrap;
    margin-top: 24px;
  }

}
