@import '../../sass_styles/_fonts.scss';
@import '../../sass_styles/colors';

.complete__spaceDetial-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 200px 200px 60px;
  justify-content: space-around;
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  .card {
    background-color: antiquewhite;
    border: 2px solid red;
    text-align: center;
  }
}

.carousel__section-container {
  display: none;
  @media (min-width: 1200px) {
    display: initial;
    overflow-x: unset;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
  }
}

.carousel__mobiles-version-container {
  height: 100%;
  margin: 0px 20px 0px 0px;
}

.carousel__mobiles-version-image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.carousel__right-down-image-container {
  margin-right: 0px;
}

.carousel_back-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-content: center;
  position: absolute;
  top: 15px;
  left: 15px;
  box-shadow: 0px 3px 5px #787777;;
  .carousel_back-arrow-icon {
    width: 20px;
    height: 20px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}

.carousel_next-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  border: 2px solid $pink;
  border-radius: 50%;
  .carousel_next-arrow-icon {
    width: 20px;
    height: 20px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}

.carousel__final-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.carousel__center-full-container{
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media (min-width: 1200px) {
  .carousel__main-image-container {
    height: 370px;
    width: 600px;
    margin-right: 10px;
    .carousel__main-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
  .carousel__center-full-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 370px;
    .margin {
      margin-top: 10px;
    }
    .carousel__center-image-container {
      height: 90%;
      width: 100%;
      .carousel__center-image-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .carousel__final-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 370px;
    margin: 10px;
    .carousel__right-up-image-container {
      height: 90%;
      width: 100%;
      .carousel__right-up-image-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 20px;
      }
    }
    .carousel__right-down-image-container {
      height: 90%;
      width: 100%;
      margin-top: 10px;
      .carousel__right-down-image-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-right-radius: 20px;
      }
    }
  }
}



.detial__title-container {
  hr {
    margin-top: 20px 0px 0px;
    border: none;
    border-bottom: .05px solid rgba(0,0,0,0.08);
    width: 90vw;
    @media (min-width: 1200px) {
      display: none;
    }
  }
  .detail__title {
    font-family: nunito-bold;
    margin: 20px 20px 0px;
  }
  p.detail__location {
    font-family: nunito-extra-light;
    margin: 0px 20px 20px;
  }
  @media (min-width: 1200px) {
    position: absolute;
    top: 0px;
    left: 200px;
  }
}
