@import '../../sass_styles/colors';
@import '../../sass_styles/fonts';

.spaceDetail__line-separation {
  margin: 15px 0px 15px 20px;
  width: 90vw;
  border: 0.5px solid rgba(0,0,0,0.08);
  height: 0px;
  @media (min-width: 1200px) {
    width: 90%;
  }
}

.spaceDetail__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.carousel__main-container {
  .carousel_back-arrow-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.5px solid rgba(0,0,0,0.08);
    background-color: $white;
    box-shadow: 0 3px 5px $dark-gray;
    z-index: 1;
    align-content: center;
    .carousel_back-arrow-icon {
      width: 70%;
      height: 70%;
      object-fit: cover;
    }
    &:hover {
      opacity: .95;
      box-shadow: 0 3px 10px $dark-gray;
    }
  }
  .carousel__main-image-container  {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    .carousel__main-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .carousel__section-container {
    display: none;
  }
  .carousel_all-pictures__button-container {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    width: 80px;
    height: max-content;
    background-color: $white;
    padding: 0px;
    border-radius: 30px;
    align-content: center;
    font-family: nunito-light;
    box-shadow: 0 3px 5px $dark-gray;
    color: $pink;
    .carousel_all-pictures__button-text {
      padding: 0px;
      margin: 3px 10px;
      font-size: 14px;
    }
    &:hover {
      opacity: .97;
      box-shadow: 0 3px 10px $dark-gray;
    }
  }
}

.detial__title-container {
  margin: 15px 0px 0px 20px;
  .detail__title {
    font-family: nunito-extra-bold;
    font-size: 1.8rem;
    margin: 0px;
  }
  .detail__location {
    font-family: nunito-extra-light;
    font-size: 0.95rem;
    margin: 0px;
  }
}

.description__host__info-container {
  display: flex;
  margin: 0px 0px 0px 20px;
  .host__info__text__name {
    font-family: nunito-extra-bold;
    font-size: 1.4rem;
    margin: 0px;
  }
  .host__info__text__amenities {
    font-family: nunito-light;
    font-size: 0.9rem;
    margin: 0px;
  }
  .description__host__info__imgae-container {
    height: 55px;
    width: 55px;
    margin: 0px 30px 0px 0px;
    .description__host__info__image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.description__host__type-container {
  display: flex;
  margin: 0px 0px 0px 20px;
  .description__host__type__icon-container {
    width: 30px;
    height: 30px;
    .description__host__type__icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .description__host__type__text {
    font-family: nunito-semi-bold;
    margin: 10px 0px 0px 10px;
  }
}

.description__host__privacity-type-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 20px;
  .description__host__privacity-type__icon-container {
    width: 30px;
    height: 30px;
    .description__host__privacity-type__icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .description__host__privacity-type__text {
    font-family: nunito-semi-bold;
    margin: 10px 0px 0px 10px;
  }
}

.description__space__description-container {
  margin: 0px 0px 0px 20px;
  .description__space__description-text {
    font-family: nunito-regular;
  }
}

.spaceDetail__checkout-card-container {
  display: none;
}

.spaceDetail__sub-menu-container {
  position: fixed;
  bottom: 0px;
  display: flex;
  border-top:0.5px solid rgba(0,0,0,0.08);
  box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 10%);
  width: 100%;
  height: 70px;
  justify-content: space-around;
  background-color: $white;
  .spaceDetail__sub-menu__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
    .spaceDetail__sub-menu__price {
      margin: 0px;
      margin-left: 30px;
      font-family: nunito-bold;
      font-size: 1.2rem;
      span {
        font-family: nunito-extra-light;
        font-size: .9rem;
      }
    }
    .spaceDetail__sub-menu__dates {
      margin: 0px;
      margin-left: 30px;
      font-family: nunito-semi-bold;
      font-size: 0.8rem;
    }
  }
  .spaceDetail__sub-menu__button-container {
    display: flex;
    width: 49%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    .spaceDetail__sub-menu-button {
      height: 50px;
      width: 100px;
      background-color: $pink;
      border: none;
      border-radius: 30px;
      font-family: nunito-semi-bold;
      color: $white;
      letter-spacing: 1px;
      font-size: 0.95rem;
      &:hover {
        opacity: .95;
        box-shadow: 0px 2px 7px 0px $light-gray;
      }
    }
  }
}

.spaceDetail__amenities-container {
  margin-bottom: 75px;
}

@media (min-width: 1200px) {
  .carousel__main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
    margin-top: 190px;
    .carousel_back-arrow-container {
      display: none;
    }
    .carousel_all-pictures__button-container {
      position: absolute;
      right: 14%;
      top: 73%;
    }
    .carousel__main-image-container {
      width: 560px;
      height: 370px;
      .carousel__main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
      }
    }
    .carousel__section-container {
      display: initial;
      display: flex;
      height: 100%;
      margin: 0px 0px 0px 10px;
      .carousel__center-full-container {
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 0px;
        .margin {
          margin: 0px 0px 10px 0px;
        }
        .carousel__center-image-container {
          width: 280px;
          height: 180px;
          .carousel__center-image-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .carousel__final-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        .carousel__right-up-image-container {
          width: 280px;
          height: 180px;
          margin-bottom: 10px;
          .carousel__right-up-image-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 20px;
          }
        }
        .carousel__right-down-image-container {
          width: 280px;
          height: 180px;
          .carousel__right-down-image-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-bottom-right-radius: 20px;
          }
        }
      }
    }
  }
  .detial__title-container {
    position: absolute;
    top: 100px;
    margin-left: 13vw;
  }
  .spaceDetail__sub-menu-container {
    display: none;
  }
  .omm {
    margin-left: 13vw;
    width: 45vw;
    border: 3px solid blue;
  }
}
