.form__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #008489;
  padding: 10px;
  font-family: "Manrope", sans-serif;
  width: -webkit-fill-available;
}

.header__logo {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.logo__img {
  width: 40px;
  height: 40px;
}

.header__buttons {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: flex-end;
}

.button {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  font-family: "Manrope", sans-serif;
}

.button:focus {
  border: solid;
  border-color: white;
  transition-duration: 0.25s;
  font-family: "Manrope", sans-serif;
}

.form__container {
  display: flex;
  flex-direction: column;
  background-color: #008489;
  padding-bottom: 30px;
  margin-top: -20px;
}

.container__question {
  background-color: #008489;
  color: white;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  padding: 50px;
  border-radius: -10px;
}

.question__title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

.container__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  margin: -10px 0 10px 0;
}

.option__offerdescription {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  max-width: 720px;
  min-width: 100px;
  margin: 20px 20px;
}

.option__offerdescription {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  padding: 20px 10px;
}

.offerdescription__text {
  color: #222222;
  display: block;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: 1px solid #b0b0b0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  padding-bottom: 10px;
  font-family: "Manrope", sans-serif;
  resize: vertical;
  max-height: 25vh;
  min-height: 144px;
  padding: 16px;
  border-radius: 8px;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  overflow-y: hidden;
}

@media (min-width: 1200px) {
  html {
    background: #ffffff;
  }
  .form__header {
    width: -webkit-fill-available;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .header__logo {
    justify-content: flex-start;
    width: -webkit-fill-available;
    justify-content: flex-start;
    padding: 0px 40px 0px 0px;
  }
  .logo__img {
    height: 100px;
    width: 100px;
  }
  .header__buttons {
    width: -webkit-fill-available;
    padding: 0px 20px 0px 0px;
    border-radius: 5px;
    justify-content: flex-end;
  }
  .button {
    font-size: 16px;
    font-weight: bold;
  }

  .form__container {
    background-color: #008489;
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    border-radius: 10px;
    align-items: center;
    margin: 10px 0px;
    padding: 20px 0px;
  }
  .container__question {
    width: -webkit-fill-available;
    justify-content: flex-start;
  }
  .question__title {
    line-height: 56px;
    margin-bottom: 12px;
    font-size: 48px;
  }
}
