.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Manrope', sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.8px;
}

.mainSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 460px;
  margin-bottom: 20px;
  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

a.space-link {
  text-decoration: none;
  color: #222222;
}

.card__image-container {
  height: 350px;
  margin-bottom: 12px;
}

.card__image__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;

}

.card__location { margin-bottom: 4px; margin-top: 5px; }
.card__distance { margin-bottom: 4px; }
.card__dates { margin-bottom: 4px; }
.card__price { margin-top: 5px; }

@media (min-width: 1200px) {
  .main-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20vw;
    height: 460px;
  }

  .mainSection--queri-bgscreen {
    width: 20vw;
    height: 460px;
    letter-spacing: 0.8px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mainSection__card--queri-bgscreen {
      width: 20vw;
  }
}
