.changePassword__Background{
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.changePassword__modalContainer{
  margin-top: 10px;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
}
.changePassword__currentCancel{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.changePassword__cancelButton{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}
.changePassword__span{
  padding-bottom: 5px;
  margin-top: 25px;
  margin-bottom: 0px;
  text-align: start;
}
.changePassword__input{
  width: 100%;
  min-height: 46px;
  border:solid;
  border-color: #B0B0B0;
  border-radius: 8px;
  border-width: 1px;
  align-items: center;
  font-size: 1em;
  font-family: 'Manrope', sans-serif;
  padding-left: 10px;
  margin-top: 5px;
}
.changePassword__helptext{
display: flex;
align-items: flex-start;
color: rgb(113, 113, 113);
font-size: 12px;
font-family: 'Manrope', sans-serif;
font-weight: 400;
margin-top: 0px;
padding: 5px;
justify-content: flex-start;
text-align: left;
}
.changePassword_updateButton{
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: 600;
  background-color: #008489;
  border-radius: 8px;
  border-color: transparent;
  color: white;
  min-height: 46px;
  cursor: pointer;
}
.changePassword_updateButton:hover{
  box-shadow: #B0B0B0;
}
